{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>레슨 요금</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>
    {% block content %}
    <div class="content_area">
        <div class="container">
            <h1 class="signin-header">레슨 요금</h1>
            <p>
                <label for="">엘리트 선수 레슨은 전화 문의 부탁드립니다. (010-3505-0076)</label>
            </p>
            <div class="div-inline">
                <h3> ⚾️ 사회인 개인 레슨 (1시간) ⚾️ </h3><br>
                <h5>1회 <del>5만원</del> 👉🏻 3만원 (OPEN 이벤트)</h5>
                <h5>10회 (+1회 추가) 👉🏻 30만원 (2개월) </h5>
                <h5>20회 (+2회 추가) 👉🏻 60만원 (3개월)</h5>
                <h5>30회 (+3회 추가) 👉🏻 90만원 (6개월)</h5>
                <h5>50회 (+5회 추가) 👉🏻 150만원 (10개월) </h5>
                <h5>100회 (+10회 추가) 👉🏻 300만원 (12개월) </h5>                
            </div>
            <div class="div-inline">
                <h3> ⚾️ 그룹 레슨 (1시간 30분) ⚾️ </h3><br>
                <h5>1회 👉🏻 2만 5천원 </h5>
                <h5>10회 (+1회 추가) 👉🏻 25만원 (2개월) </h5> 
                <h5>20회 (+2회 추가) 👉🏻 50만원 (3개월)</h5>
                <h5>30회 (+3회 추가) 👉🏻 75만원 (6개월)</h5>
                <h5>50회 (+5회 추가) 👉🏻 125만원 (10개월)</h5>
                <h5>100회 (+10회 추가) 👉🏻 250만원 (12개월)</h5> 
            </div>
            
            <p class="p-highlight">
                괄호 안의 개월 수는 쿠폰 유효기간으로 쿠폰 구입일이 아닌 첫 레슨 시작일부터 입니다. <br>
                기간 만료 시 자동 소진됩니다.
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>