{% extends 'base.html' %}
{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ACBaseball</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <!-- <link rel="stylesheet" href='{% static "css/responsive.css" %}'> -->
</head>

<body>
    {% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <img class="mt-5" src="{% static 'img/banner.gif' %}" alt="" style="width: 100%;">
        <div class="card">
            <div class="card-body">
                {{ notice.content }}
            </div>
        </div>
        <a href="https://cafe.naver.com/acbaseball" target="_blank">
            <img class="mt-5" src="{% static 'img/banner1.gif' %}" alt="" style="width: 100%;">
            <img class="mt-5" src="{% static 'img/banner2.gif' %}" alt="" style="width: 100%;">
            <img class="mt-5" src="{% static 'img/banner3.gif' %}" alt="" style="width: 100%;">
            <img class="mt-5" src="{% static 'img/banner4.gif' %}" alt="" style="width: 100%;">
            <img class="mt-5" src="{% static 'img/banner5.gif' %}" alt="" style="width: 100%;">
            <img class="mt-5" src="{% static 'img/banner6.gif' %}" alt="" style="width: 100%;">
        </a>
    </div>
    <!-- slider_area_end -->
    
    {% endblock %}

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>