{% extends 'base.html' %}
{% load staticfiles %}
sw
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>레슨 시간</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>
    {% block content %}
    <!-- bradcam_area_start -->
    <a href="{% url 'index' %}">
        <div class="bradcam_area breadcam_bg overlay"></div>
    </a>
    
    <!-- bradcam_area_end -->
    <div class="content_area">
        <div class="container">
            <div class="mt-5 d-flex align-items-center justify-content-center">
                <img src="{% static 'img/person_time.png' %}" alt="" class="info-images">
            </div>

            <div class="mt-5 d-flex align-items-center justify-content-center">
                <img src="{% static 'img/group_time.png' %}" alt="" class="info-images">
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>