{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>레슨 시간</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>
    {% block content %}
    <div class="content_area">
        <div class="container">
            <h1 class="signin-header">레슨 시간</h1>
            <div class="div-inline">
                <h3> ⚾️ 개인 레슨 (1시간) ⚾️ </h3><br>
                <label for="">개인 레슨은 월~일 가능합니다.</label>
                <h5>오전 7:00 ~ 8:00</h5>
                <h5>오전 8:00 ~ 9:00 </h5>
                <h5>오전 9:00 ~ 10:00 </h5>
                <h5>오전 10:00 ~ 11:00 </h5>
                <h5>오전 11:00 ~ 12:00 </h5>
                <h5>오후 12:00 ~ 13:00 </h5>
                <h5>오후 13:00 ~ 14:00 </h5>
                <h5>오후 14:00 ~ 15:00 </h5>
                <h5>오후 15:00 ~ 16:00 </h5>
                <h5>오후 16:00 ~ 17:00 </h5>
                <h5>오후 17:00 ~ 18:00 </h5>
                <h5>오후 18:00 ~ 19:00 </h5>
                <h5>오후 19:00 ~ 20:00 </h5>
                <h5>오후 20:00 ~ 21:00 </h5>
                <h5>오후 21:00 ~ 22:00 </h5>
                <h5>오후 22:00 ~ 23:00 </h5>
            </div>
            <!-- <div class="div-inline">
                <h3> ⚾️ 그룹 레슨 (1시간 30분) ⚾️ </h3><br>
                <label for="">그룹 레슨은 월~금(평일) 가능합니다.</label>
                <h5>오후 19:30 ~ 21:00 </h5>
                <h5>오후 21:10 ~ 22:40 </h5>
            </div> -->
        </div>
    </div>
    {% endblock %}
</body>

</html>