{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>오시는길</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>
    {% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>VISIT AC</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="content_area">
        <div class="container">
            <h1 class="signin-header">오시는 길</h1>
            <img src="{% static 'img/map.png' %}" alt="">
            <p>
                <br><strong>서울 구로구 경인로 373 문화골든타워</strong> <br>
                1호선 개봉역 2번 출구에서 475m
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>