{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>ticketSuccess</title>
    <script type="text/javascript" src="../../static/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>

<body>
    {% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
      <h3>이용권 신청현황</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="content_area">
        <div class="container">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">이용권 종류</th>
                    <th scope="col">신청 일자</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticketLog in ticketLogs %}
                  <tr>
                    <th scope="row">{{ ticketLog.id }}</th>

                    <td>{{ ticketLog.user.first_name }}</td>

                    {% if ticketLog.ticket_type == 'P4;G2;' %}
                      <td>개인레슨 4회 + 그룹레슨 2회</td>
                    {% elif ticketLog.ticket_type == 'P8;G4;' %}
                      <td>개인레슨 8회 + 그룹레슨 4회</td>
                    {% elif ticketLog.ticket_type == 'P5;' %}
                      <td>개인레슨 5회</td>
                    {% elif ticketLog.ticket_type == 'G4;' %}
                      <td>월 4회 (주 1회)</td>
                    {% elif ticketLog.ticket_type == 'G8;' %}
                      <td>월 8회 (주 2회)</td>
                    {% elif ticketLog.ticket_type == 'G12;' %}
                      <td>월 12회 (주 3회)</td>
                    {% elif ticketLog.ticket_type == 'G4;P2;' %}
                      <td>그룹레슨 4회 + 개인레슨 2회</td>
                    {% elif ticketLog.ticket_type == 'G8;P4;' %}
                      <td>그룹레슨 8회 + 개인레슨 4회</td>
                    {% endif %}
                    <td>{{ ticketLog.reg_date|date:"Y-m-d" }}</td>
                    <td class="d-flex">
                      <a href="{% url 'ticket:update' ticketLog.id %}"><button class="btn btn-primary">수락</button></a>
                      <a href="{% url 'ticket:delete' ticketLog.id %}"><button class="btn btn-primary ml-2">거절</button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    {% endblock %}
</body>

</html>