{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>ticketForm</title>
    <script type="text/javascript" src="../../static/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>

<body>
    {% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>TICKET</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="content_area">
        <div class="container">
            <h1 class="signin-header">이용권 구매</h1>
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
                    {{message.message}}
                </div>
            {% endfor %}
            </div>
            {% endif %}

            <p>
                <label for="">엘리트 선수 레슨은 전화 문의 부탁드립니다. (010-3505-0076)</label>
            </p>
            
            <div class="d-flex">
                <form method="GET" action="{% url 'ticket:create' %}">
                    <h5>그룹레슨</h5>
                    <select class="selectpicker form-control" name="ticket">
                        <optgroup label="그룹">
                            <option value="G4;">월 4회 (주 1회)</option>
                            <option value="G8;">월 8회 (주 2회)</option>
                            <option value="G12;">월 12회 (주 3회)</option>
                        </optgroup>
    
                        <option value="G4;P2;">그룹레슨 4회 + 개인레슨 2회</option>
                        <option value="G8;P4;">그룹레슨 8회 + 개인레슨 4회</option>
                    </select>
                    <button type="submit" class="btn btn-margin btn-primary">구매 신청</button>
                </form>
    
                <form method="GET" action="{% url 'ticket:create' %}" class="ml-5">
                    <h5>개인레슨</h5>
                    <select class="selectpicker form-control" name="ticket">
                        <optgroup label="개인">
                            <option value="P5;">5회 (5주)</option>
                        </optgroup>

                        <option value="P4;G2;">개인레슨 4회 + 그룹레슨 2회</option>
                        <option value="P8;G4;">개인레슨 8회 + 그룹레슨 4회</option>
                    </select>
                    <button type="submit" class="btn btn-margin btn-primary">구매 신청</button>
                </form>
            </div>
            
            <p class="p-highlight">
                괄호 안의 개월 수는 쿠폰 유효기간으로 쿠폰 구입일이 아닌 첫 레슨 시작일부터 입니다. <br>
                기간 만료 시 자동 소진됩니다.
            </p>

            <div class="d-flex align-items-center justify-content-center">
                <img src="{% static 'img/howto.png' %}" alt="" class="info-images">
            </div>

        </div>
    </div>
    {% endblock %}

</body>

</html>