{% extends 'base.html' %}
{% load staticfiles %}

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <title>회원 상세페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>

<body>
    {% block content %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
      <h3>My Page</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="content_area">
        <div class="container">
            {% if user.is_superuser %}
                <h1 class="signin-header">회원 상세페이지</h1>
            {% else %}
                <h1 class="signin-header">My 페이지</h1>
            {% endif %}
            <strong>{{user.first_name}}</strong> 님의 이용권 현황
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">레슨 타입</th>
                    <th scope="col">잔여 횟수</th>
                    <th scope="col">시작일</th>
                    <th scope="col">만료일</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}  
                  <tr>
                    <th scope="row">{{ ticket.id }}</th>
                    {% "<td>개인</td>" if ticket.lesson_type == 'P' else <td>그룹</td> %}
                    <td>{{ ticket.coupon }}</td>
                    <td>{{ ticket.started_date }}</td>
                    <td>{{ ticket.expired_date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>   
            
            <strong>{{user.first_name}}</strong> 님의 레슨 현황
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">레슨타입</th>
                    <th scope="col">레슨일</th>
                    <th scope="col">시간</th>
                    <th scope="col">회원명</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for lesson in lessons %}  
                  <tr>
                    <th scope="row">{{ lesson.id }}</th>
                    {% if lesson.lesson_info.lesson_type == 'P' %}
                      <td>개인</td>
                    {% else %}
                      <td>그룹</td>
                    {% endif %}
                    <td>{{ lesson.lesson_info.date }}</td>
                    <td>{{ lesson.lesson_info.time }}</td>
                    <td>{{ lesson.user.first_name }}</td>
                    <td><a href="{% url 'lesson:delete' lesson.id %}"><button class="btn btn-primary">취소</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>
    {% endblock %}
</body>

</html>